<<<<<<< HEAD
body {
  font-family: verdana;
  font-size: 14px;
}

#incomingMessageContainer {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2%;
  background-color: rgb(253, 255, 159);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#outgoingMessageForm {
  width: auto;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2%;
  background-color: rgb(130, 162, 232);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#messageFrom {
  width: auto;
  border-radius: 2px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  background-color: rgb(12, 241, 62);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#statusMessage {
  width: auto;
  padding: 2px;
  background-color: rgb(255, 152, 160);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#clearMessageButton, #incomingMessageText {
  display: inline-block;
}

/* #clearMessageButton {
  
=======
body {
  font-family: verdana;
  font-size: 14px;
}

#incomingMessageContainer {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2%;
  background-color: rgb(253, 255, 159);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#outgoingMessageForm {
  width: auto;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2%;
  background-color: rgb(130, 162, 232);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#messageFrom {
  width: auto;
  border-radius: 2px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  background-color: rgb(12, 241, 62);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#statusMessage {
  width: auto;
  padding: 2px;
  background-color: rgb(255, 152, 160);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
}

#clearMessageButton, #incomingMessageText {
  display: inline-block;
}

/* #clearMessageButton {
  
>>>>>>> 5ccecd8d88ec9b841b77d6d1c1ff86a3cb06dc56
} */